In [16]:
from pandas_datareader import data
import datetime

In [23]:
start = datetime.datetime(2017,1,1)
end = datetime.datetime(2017,6,1)

df = data.DataReader(name = "tsla" , data_source="google" , start = start , end = end)

In [20]:
df

              Open    High     Low   Close   Volume
Date
2017-01-03  778.81  789.63  775.80  786.14  1657268
2017-01-04  788.36  791.34  783.16  786.90  1072958
2017-01-05  786.08  794.48  785.02  794.02  1335167
2017-01-06  795.26  807.90  792.20  806.15  1640170
2017-01-09  806.40  809.97  802.83  806.65  1274645
2017-01-10  807.86  809.13  803.51  804.79  1176780
2017-01-11  805.00  808.15  801.37  807.91  1065936
2017-01-12  807.14  807.39  799.17  806.36  1353057
2017-01-13  807.48  811.22  806.69  807.88  1099215
2017-01-17  807.08  807.14  800.37  804.61  1362115
2017-01-18  805.81  806.20  800.99  806.07  1294407
2017-01-19  805.12  809.48  801.80  802.18   919325
2017-01-20  806.91  806.91  801.69  805.02  1670045
2017-01-23  807.25  820.87  803.74  819.31  1963628
2017-01-24  822.30  825.90  817.82  823.87  1474010
2017-01-25  829.62  835.77  825.06  835.67  1627304
2017-01-26  837.81  838.00  827.01  832.15  2973891
2017-01-27  834.71  841.95  820.44  823.31  2965771
2017-01-30  814.66  815.84  799.80  802.32  3246573
2017-01-31  796.86  801.25  790.52  796.79  2160556
2017-02-01  799.68  801.19  791.19  795.70  2029744
2017-02-02  793.80  802.70  792.00  798.53  1532138
2017-02-03  802.99  806.00  800.37  801.49  1463448
2017-02-06  799.70  801.67  795.25  801.34  1184483
2017-02-07  803.99  810.50  801.78  806.97  1241221
2017-02-08  807.00  811.84  803.19  808.38  1155990
2017-02-09  809.51  810.66  804.54  809.56   990391
2017-02-10  811.70  815.25  809.78  813.67  1134976
2017-02-13  816.00  820.96  815.49  819.24  1213324
2017-02-14  819.00  823.00  816.00  820.45  1054732
...            ...     ...     ...     ...      ...
2017-04-20  841.44  845.20  839.32  841.65   959031
2017-04-21  842.88  843.88  840.60  843.19  1323583
2017-04-24  851.20  863.45  849.86  862.76  1372541
2017-04-25  865.00  875.00  862.81  872.30  1671972
2017-04-26  874.23  876.05  867.75  871.73  1237167
2017-04-27  873.60  875.40  870.38  874.25  2026816
2017-04-28  910.66  916.85  905.77  905.96  3276255
2017-05-01  901.94  915.68  901.45  912.57  2115993
2017-05-02  909.62  920.77  909.45  916.44  1587219
2017-05-03  914.86  928.10  912.54  927.04  1499532
2017-05-04  926.07  935.93  924.59  931.66  1422144
2017-05-05  933.54  934.90  925.20  927.13  1911275
2017-05-08  926.12  936.92  925.26  934.30  1329825
2017-05-09  936.95  937.50  929.53  932.17  1581809
2017-05-10  931.98  932.00  925.16  928.78  1173925
2017-05-11  925.32  932.53  923.03  930.60   835386
2017-05-12  931.53  933.44  927.85  932.22  1050601
2017-05-15  932.95  938.25  929.34  937.08  1108496
2017-05-16  940.00  943.11  937.58  943.00   969479
2017-05-17  935.67  939.33  918.14  919.62  2362072
2017-05-18  921.00  933.17  918.75  930.24  1596897
2017-05-19  931.47  937.76  931.00  934.01  1393024
2017-05-22  935.00  941.88  935.00  941.86  1120385
2017-05-23  947.92  951.47  942.58  948.82  1270817
2017-05-24  952.98  955.09  949.50  954.96  1034199
2017-05-25  957.33  972.63  955.47  969.54  1660474
2017-05-26  969.70  974.98  965.03  971.47  1252010
2017-05-30  970.31  976.20  969.49  975.88  1466654
2017-05-31  975.02  979.27  960.18  964.86  2448067
2017-06-01  968.95  971.50  960.01  966.95  1410458

[104 rows x 5 columns]